<!DOCTYPE html>
<html>
  <head>
    <title>Achieve</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Achieve</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item active">
              <%= link_to "ブログ",  blogs_path, class: "btn btn-success text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "お問い合わせ",  inquiry_path, class: "btn btn-success text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "ユーザー一覧",  user_index_path, class: "btn btn-success text-white" %>
            </li>
          </ul>
          <div class="d-flex">
            <% if user_signed_in? %>
              <%= link_to "ログアウト",destroy_user_session_path, class: "btn btn-success text-white", method: "delete" %>
              <%= link_to "アカウント編集",edit_user_registration_path, class: "btn btn-success text-white" %>
            <% else %>
              <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-success text-white" %>
              <%=link_to "ログイン", new_user_session_path, class: "btn btn-success text-white"%>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
    <footer class="text-white py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
      </div>
    </footer>
  </body>
</html>
